<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Houston - ¡We have an ERROR!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/app.css">
	<!-- <style>
		html, body {
			font-size: 10px;
			font-family: sans-serif;
			background-color: #dddddd;
		}
		h1 {
			font-size: 3.2em;
		}
		h2 {
			font-size: 2.4em;
		}
		pre {
			color: crimson;
			border: solid 1px crimson;
			display: block;
			padding: 10px;
			border-radius: 10px;
			font-size: 1.4em;
		}
		pre::first-line {
			font-weight: bold;
		}
		p {
			font-size: 1.5em;
		}
	</style> -->
</head>
<header><nav class="navbar bg-dark" data-bs-theme="dark">
	<h1></h1>
<hr>
<nav>
	<ul>
		<li ><a href="/">HOME</a></li>
		<li><a href="/products">PRODUCTOS</a></li>
		<li><a href="/products/detail">DETALLE DEL PRODUCTO</a></li>
		<li><a href="/users/register">REGISTRATE</a></li>
		<li><a href="/users/login">INICIÁ SESIÓN</a></li>
	</ul>
  </nav>
</header>
<body>
	<h2><%= message %></h2>
	<div class="img"><img src="/images/accessDenied.jpg" alt="" width="500px"></div>
</body>
</html>
